
<div class="contact-container">
<div class="contact-col-1">
    <p class="contact-headline"> <h3>Get in touch</h3> </p>
<form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Name: <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email: <input type="email" name="email" /></label>
    </p>
    <p>
        <label>Company: <input type="text"/></label>
      </p>
    <p>
      <label>What can we help you with? </label><br><textarea name="message"></textarea>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
</div>
<div class="contact-col-2">
<p class="contact-headline"> <h5>Connect with us:</h5>

  <small> Email us at: <a href="mailto:contact-us@cleaning-marketplace.com">contact-us@cleaning-marketplace.com</a></small>

</p>
</div>

</div>